.imagegallery{
	
	width: 100%;
	margin: auto;

}
.imagegallery h2{
	width: 100%;
	margin:auto;
	margin-top: 0;
	text-align: left;
	padding: 12px 0px;
	//background-color: rgba(255,255,255,0.5);
	 border-bottom: 1px solid rgba(0,0,0,0.5);
	//box-shadow : 0px 0px  15px rgba(0,0,0,0.4) inset;
}
.imagegallery h2 a{
    color: rgba(0,0,0,1);
}
.imagegallery h2:hover{
	box-shadow: 0 0 50px rgba(255,155,155,1) inset;
}
.imagegallery h2:hover a{
    color: rgba(150,0,25,0.9);
}
.albumwrapper .description{
	
	margin: auto;
	padding-left: 20px;
	width: 80%;
	color: white;
	text-shadow: 0 0 5px rgba(255,255,255,0.5);
	
}
.albumwrapper{
	display:none;
	background-color: #222;
	box-shadow: 0px 0px 60px rgb(0,0,0) inset;
}
.album{
	padding: 23px;
	margin:auto;
	width: 80%;
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; 
	
	display:-webkit-flex;
    display: flex;
	 -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
	
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.album .imagebox{    
	background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover!important;
    border-radius: 4px;
    height: 270px;
    width: 380px;
    margin: 15px;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-end;
    align-items: flex-end;
	
	
  -webkit-box-flex: auto;
  -moz-box-flex:  auto;
  flex: auto;
	
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
	
}

.album .imagebox img{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
