html, body {
	width: 100% !important;
	margin: 0px;
	padding: 0px;
	color: rgba(0,0,0,0.8);
	//font-family: 'Alegreya Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}

.nav {
	background-color: white;
	position: fixed;
	top: 0px;
	width: 100%;
	min-width: 500px;
	display: table;
	opacity: 0.8;

}
.nav ul {
	list-style: none;
	//font-family: "QuickSandLight";
	font-size: .9em;
	letter-spacing: .15em;
	color: #403336;
	text-align: center;
	border: 0;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline-block;
	padding: 0 10px;
	line-height: 55px;
	white-space: nowrap;
}

.nav a{
	text-decoration: none;
	color:#10375E;
    transition: color .5s;
}

.nav a:hover { 
    color: #FF2C3F;
}
.contain {
	height: 600% !important;
	width: 100%;
}

#home{
	background-color: #FFD9AB;
	min-height: 800px;
}

#home img{
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}

#about{
	min-height: 350px;
	background-color: #FDC57B;
}

#characters{
	min-height: 1150px;
	background-color: #FBB04B;
	padding-bottom: 50px;
}

#instructions{
	min-height: 800px;
	background-color: #F68050;
}
#gallery{
	min-height: 800px;
	background-color: #E36A4D;
}
#team{
	min-height: 800px;
	background-color: #732D2F;
}
#contact{
	min-height: 800px;
	background-color: black;
	color: white;
}

.logo{
	text-align: center;
	font-size: 1.5em;
}

.page{
	width: 100%;
	font-size: 1.5em;
}

.page h1{
	text-align: center;
	margin: 0px;
	padding-top: 50px;
	font-size: 3em;
	font-weight: 900;
}
.page h2{
	font-size: 2em;
	text-align: center;
	font-weight: 900;
}
.page h3{
	font-size: 1em;
	text-align: center;
	font-weight: 900;
}
.page h4{
	font-size: 1em;
	font-weight: 900;
}
.info{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}



.player{
	
	width: 100%;
}

.player img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top : 20px;
	max-width: 320px;
}
.roundedimage{
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 0 3px 23px rgba(0,0,0,0.3);
}
.player .bio{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.opponents{
	display: table;
	width: 95%;
	margin: 0 auto;
}

.opponents span{
	display: table-cell;
	text-align: center;
	width: 18%;
	padding: 0 2%;
	font-size: 1em;
}

.opponents img{
	width: 100%;
	max-width: 235px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

form{
	display: block;
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;

}

input{
	font-family: "QuickSandLight";
	height: 36px;
	padding-top: 6px;
	padding-left: 15px;
	border-radius: 0;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	width: 97%;
	font-size: 1em;

}

textarea{
	font-family: "QuickSandLight";
	font-size: 1em;
	border-radius: 0;
	border: 1px solid white;
	width: 97%;
	height: 80px;
	padding-left: 15px;
	padding-top: 6px;
	margin-bottom: 20px;
}

.btn{
	font-family: "QuickSandLight";
	text-align: center;
	display: block;
	background-color: white;
	width: 100%;
	padding-bottom: 6px;
	padding-left: 10px;
	transition: color .5s, border-color .5s;

}

.btn:hover{
	color: #10375E;
	border-color: #10375E;
}

.formtitle{
	text-decoration: none;
	color: white;
	font-size: 2em;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 30px;
	margin: 0;
}